    <nav class="flex justify-between items-center gap-2 py-4 px-4 bg-[#87CEEB] text-[#fff] logo">
        <div class="flex items-center gap-2">
            <img src="/logo.svg" alt="logo" class="w-7 h-7 rounded" >
            <p class="logo text-xl">
                WorkoutBuddy
            </p>
        </div>
        <ul class="flex items-center gap-3 font-light text-sm">
            <li class="p-1">
           <b>     <a routerLink="/" style="font-size: 1rem;">HOME</a></b>
            </li>
            <li class="p-1">
          <b>      <a routerLink="/explore" style="font-size: 1rem;">EXPLORE</a></b>
            </li>
            <li class="bg-cyan-100 text-cyan-950 p-2 font-bold rounded">
                <a routerLink="/add-workout" class="flex items-center gap-1">
                    <i class="pi pi-plus-circle" style="font-size: 1rem;"></i>
                    <span>
                        ADD
                    </span>
                </a>
            </li>
        </ul>
    </nav>
