<div class="flex bg-[#87CEEB] h-[91vh]">
    <!-- LEFT -->
    <div class="hidden lg:block md:w-5/12 xl:w-1/2 h-screen absolute top-0 left-0 py-24 px-12">
        <img src="/workout.webp" alt="gym" class="w-25 h-25 object-cover rounded-3xl shadow-xl" style="border-radius: 50%; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
    </div>
    <!-- RIGHT -->
    <div class="translate-x-0 lg:translate-x-[40vw] xl:translate-x-[50vw] text-white mx-4 md:mx-12 mt-16">
        <div class="items-center gap-2 hidden lg:flex">
            <img src="/logo.svg" alt="logo" class="w-7 h-7">
            <p class="logo text-xl" style="font-size: 3rem;">
                Let's workout!
            </p>
        </div>
        <p class="text-lg mt-6 mr-6">
            Checkout the workout plans and start your fitness journey today.
        </p>
        <button class="bg-cyan-100 text-cyan-950 p-2 font-bold rounded mt-10">
            <a routerLink="/explore" class="flex items-center gap-1">
                <i class="pi pi-compass" style="font-size: 1rem;"></i>
                Explore Workouts
            </a>
        </button>
    </div>
</div>
